<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/../../assets/css/account.css">
    <title>Formulaire d'inscription </title>
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">S'inscrire </h2>
                        <form [formGroup]="signUpForm" class="register-form" id="register-form">
                            <div class="form-group" [class.error]="signUpForm.controls['ImageCandPath'].dirty && signUpForm.hasError('required','ImageCandPath')">
                              <input formControlName="ImageCandPath" type="file" name="ImageCandPath" id="ImageCandPath" required/>
                              <label for="ImageCandPath" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <small *ngIf="signUpForm.controls['ImageCandPath'].dirty && signUpForm.hasError('required','ImageCandPath')"  class="text-danger">* Votre image est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['LName'].dirty && signUpForm.hasError('required','LName')">
                                <label for="LName" class="bi bi-person-fill"></label>
                                <input formControlName="LName" type="text" name="LName" id="LName" placeholder="Votre nom *" required/>
                            </div>
                            <small *ngIf="signUpForm.controls['LName'].dirty && signUpForm.hasError('required','LName')"  class="text-danger">* Votre nom est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['FName'].dirty && signUpForm.hasError('required','FName')">
                              <label for="FName" class="bi bi-person-fill"></label>
                              <input formControlName="FName" type="text" name="FName" id="FName" placeholder="Votre prénom *" required/>
                            </div>
                            <small *ngIf="signUpForm.controls['FName'].dirty && signUpForm.hasError('required','FName')"  class="text-danger">* Votre prénom est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['Email'].dirty && signUpForm.hasError('required','Email')">
                              <label for="Email" class="bi bi-envelope-fill"></label>
                              <input formControlName="Email" type="email" name="Email" id="Email" placeholder="Votre email *" required/>
                            </div>
                            <small *ngIf="signUpForm.controls['Email'].dirty && signUpForm.hasError('required','Email')"  class="text-danger">* Votre email est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['Age'].dirty && signUpForm.hasError('required','Age')">
                              <label for="Age" class="bi bi-calendar-event"></label>
                              <input formControlName="Age" type="number" name="Age" id="Age" placeholder="Votre âge (20) *" required/>
                            </div>
                            <small *ngIf="signUpForm.controls['Age'].dirty && signUpForm.hasError('required','Age')"  class="text-danger">* Votre âge est nécessaire </small>
                            <div class="form-group-tel" [class.error]="signUpForm.controls['Phone'].dirty && signUpForm.hasError('required','Phone')">
                              <label for="Phone"><i class="zmdi zmdi-phone-sip"></i></label>
                              <input formControlName="Phone" type="text" name="Phone" id="Phone" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'ma'}" required/>
                            </div>
                            <small *ngIf="signUpForm.controls['Phone'].dirty && signUpForm.hasError('required','Phone')"  class="text-danger">* Votre numéro de téléphone est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['Address'].dirty && signUpForm.hasError('required','Address')">
                              <label for="Address" class="bi bi-geo-alt-fill"></label>
                              <input formControlName="Address" type="text" name="Address" id="Address" placeholder="Votre adresse *" required/>
                            </div>
                            <small *ngIf="signUpForm.controls['Address'].dirty && signUpForm.hasError('required','Address')"  class="text-danger">* Votre adresse est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['StudyDegree'].dirty && signUpForm.hasError('required','StudyDegree')">
                              <label for="StudyDegree" class="bi bi-caret-down-fill"></label>
                              <select  name="StudyDegree" id="StudyDegree" formControlName="StudyDegree" required>
                                <option value="" disabled selected>Niveau d'étude *</option>
                                <option value="Bac+2">Bac+2</option>
                                <option value="Bac+3">Bac+3</option>
                                <option value="Bac+4">Bac+4</option>
                                <option value="Bac+5">Bac+5</option>
                                <option value="Bac+7">Bac+7</option>
                              </select>
                            </div>
                            <small *ngIf="signUpForm.controls['StudyDegree'].dirty && signUpForm.hasError('required','StudyDegree')"  class="text-danger">* Niveau d'étude est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['Diploma'].dirty && signUpForm.hasError('required','Diploma')">
                              <label for="Diploma" class="bi bi-caret-down-fill"></label>
                              <select formControlName="Diploma"  name="Diploma" id="Diploma" required>
                                <option value="" disabled selected>Votre diplôme *</option>
                                <option value="Bachelor">Bachelor : Bachelor</option>
                                <option value="DEUG">DEUG : Diplôme d'études universitaires générales</option>
                                <option value="DEUST">DEUST : Diplôme d’Etudes Universitaires Scientifiques et Techniques</option>
                                <option value="DUT">DUT : Diplôme universitaire de Technologie</option>
                                <option value="BTS">BTS : Brevet de Technicien Supérieur</option>
                                <option value="DTS">DTS : Diplôme de Technicien Spécialisé</option>
                                <option value="DT">DT : Diplôme de Technicien</option>
                                <option value="LF">LF : Licence Fondamentale</option>
                                <option value="LP">LP : Licence Professionnelle</option>
                                <option value="LST">LST : Licence Sciences et Techniques</option>
                                <option value="MS">MS : Master Spécialisé</option>
                                <option value="MR">MR : Master Recherche</option>
                                <option value="MST">MST : Master Sciences et Techniques</option>
                                <option value="IE">IE : Ingénieur d'Etat</option>
                                <option value="MBA">MBA : Master of Business Administration</option>
                                <option value="Doctorat">Doctorat : Doctorat</option>
                              </select>
                            </div>
                            <small *ngIf="signUpForm.controls['Diploma'].dirty && signUpForm.hasError('required','Diploma')"  class="text-danger">* Diplôme est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['Spec'].dirty && signUpForm.hasError('required','Spec')">
                              <label for="Spec" class="bi bi-caret-down-fill"></label>
                              <select formControlName="Spec" name="Spec" id="Spec" required>
                                <option value="" disabled selected>Votre spécialité *</option>
                                <option value="webDev">Informatique - Développeur Web</option>
                                <option value="fullDev">Informatique - Développeur Full-Stack</option>
                                <option value="AI">Informatique - Intelligence Artificielle</option>
                                <option value="dataScience">Informatique - Data Science</option>
                                <option value="design">Informatique - Design UX/UI </option>
                                <option value="mobileDev"> Informatique - Programmation Mobile</option>
                                <option value="softwareDev">Informatique - Développement Logiciel</option>
                                <option value="network">Informatique - Réseaux informatiques</option>
                                <option value="security">Informatique - Sécurité informatique</option>
                                <option value="machineLearning">Informatique - Machine Learning</option>
                                <option value="cloudComputing">Informatique - Cloud computing</option>
                                <option value="digitalMarketing"> Marketing digital</option>
                                <option value="projectManagement"> Gestion de projets</option>
                                <option value="IoT"> IoT (Internet of Things)</option>
                                <option value="Blockchain"> Blockchain</option>
                                <option value="accounting">Comptabilité</option>
                                <option value="Finance"> Finance</option>
                                <option value="businessManagement"> Gestion d'entreprise</option>
                                <option value="humanResources">Gestion des ressources humaines </option>
                                <option value="management">Management </option>
                                <option value="marketing">Marketing </option>
                                <option value="publicEconomy">Économie publique </option>
                                <option value="internationalEconomy">Économie internationale </option>
                                <option value="businessEconomics">Économie d'entreprise </option>
                                <option value="databaseAdministration"> Administration de bases de données </option>
                                <option value="construction"> Construction et travaux publics</option>
                                <option value="geotechnical"> Géotechnique</option>
                                <option value="civil"> Génie civil</option>
                                <option value="hydraulics"> Hydraulique et environnement</option>
                                <option value="Structure"> Structure et matériaux</option>
                                <option value="transports"> Transports et mobilité</option>
                                <option value="urban"> Urbanisme et aménagement</option>
                                <option value="building"> Ingénierie du bâtiment</option>
                                <option value="maintenance"> Maintenance et réhabilitation des bâtiments</option>
                              </select>
                            </div>
                            <small *ngIf="signUpForm.controls['Spec'].dirty && signUpForm.hasError('required','Spec')"  class="text-danger">* Votre spécialité est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['ExpYears'].dirty && signUpForm.hasError('required','ExpYears')">
                              <label for="ExpYears" class="bi bi-caret-down-fill"></label>
                              <select formControlName="ExpYears" name="ExpYears" id="ExpYears" required>
                                <option value="" disabled selected>Nombre d'année d'expérience *</option>
                                <option value="0">Débutant</option>
                                <option value="-1">Moins d'un an</option>
                                <option value="1-3">De 1 à 3 ans</option>
                                <option value="3-5">De 3 à 5 ans</option>
                                <option value="5-10">De 5 à 10 ans</option>
                                <option value="+10">+10 ans</option>
                              </select>
                            </div>
                            <small *ngIf="signUpForm.controls['ExpYears'].dirty && signUpForm.hasError('required','ExpYears')"  class="text-danger">* Nombre d'année d'expérience est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['LMPath'].dirty && signUpForm.hasError('required','LMPath')">
                              <input formControlName="LMPath" type="file" name="LMPath" id="LMPath" required/>
                              <label for="LMPath" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <small *ngIf="signUpForm.controls['LMPath'].dirty && signUpForm.hasError('required','LMPath')"  class="text-danger">* Lettre de motivation est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['CVPath'].dirty && signUpForm.hasError('required','CVPath')">
                              <input formControlName="CVPath" type="file" name="CVPath" id="CVPath" required/>
                              <label for="CVPath" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <small *ngIf="signUpForm.controls['CVPath'].dirty && signUpForm.hasError('required','CVPath')"  class="text-danger">* CV est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['Pass'].dirty && signUpForm.hasError('required','Pass')">
                              <label for="Pass" class="bi bi-lock-fill"></label>
                                <input formControlName="Pass" [type]="type" name="Pass" id="Pass" placeholder="Mot de passe *" required/>
                                <i (click)="hideShowPass()" class="bi {{eyeIcon}}"></i>
                            </div>
                            <small *ngIf="signUpForm.controls['Pass'].dirty && signUpForm.hasError('required','Pass')"  class="text-danger">* Mot de passe est nécessaire </small>
                            <div class="form-group" [class.error]="signUpForm.controls['ConfirmPass'].dirty && signUpForm.hasError('required','ConfirmPass')">
                                <label for="ConfirmPass" class="bi bi-lock-fill"></label>
                                <input formControlName="ConfirmPass" [type]="type" name="ConfirmPass" id="ConfirmPass" placeholder="Répéter mot de passe *" required/>
                                <i (click)="hideShowConfirmPass()" class="bi {{eyeIcon}}"></i>
                            </div>
                            <small *ngIf="signUpForm.controls['ConfirmPass'].dirty && signUpForm.hasError('required','ConfirmPass')"  class="text-danger">* répéter le mot de passe est nécessaire </small>
                            <div class="form-group">
                                <input type="checkbox" name="agreeTerm" id="agreeTerm" class="agree-term" />
                                <label for="agreeTerm" class="label-agree-term"><span><span></span></span>Je suis d'accord avec toutes les déclarations contenues dans <a href="#" class="term-service">les conditions d'utilisation</a></label>
                            </div>
                            <div class="form-group form-button">
                              <button type="submit" id="signup" class="form-submit" (click)="onSignUp()">S'inscrire</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/../../assets/images/signup.jpg" alt="sing up image"></figure>
                        <a routerLink="/login" class="signup-image-link">Je suis déjà membre</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
