<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/../../assets/css/account.css">
    <title>Formulaire d'inscription </title>
</head>
<body>
    <div class="main">
        <section class="signup">
          <form #signUpForm="ngForm" (ngSubmit)="signup()" class="register-form" id="register-form">
            <div class="container">
              <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <strong class="mx-2">Erreur!</strong> {{ errorMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">S'inscrire </h2>
                            <div class="form-group">
                                <label for="lName" class="bi bi-person-fill"></label>
                                <input type="text" name="lName" id="lName" placeholder="Votre nom *" [(ngModel)]="candidate.lName" #lName="ngModel" required  pattern="[A-Za-z]+"/>
                            </div>
                            <div *ngIf="lName.invalid && (lName.dirty || lName.touched)" class="text-danger">
                              <small *ngIf="lName.errors?.['required']">
                                * Votre nom est nécessaire
                              </small>
                              <small *ngIf="lName.errors?.['pattern']">
                                * Le nom ne doit contenir que des lettres
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="fName" class="bi bi-person-fill"></label>
                              <input type="text" name="fName" id="fName" placeholder="Votre prénom *" [(ngModel)]="candidate.fName" #fName="ngModel" required  pattern="[A-Za-z]+"/>
                            </div>
                            <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="text-danger">
                              <small *ngIf="fName.errors?.['required']">
                                * Votre prénom est nécessaire
                              </small>
                              <small *ngIf="fName.errors?.['pattern']">
                                * Le prénom ne doit contenir que des lettres
                              </small>
                            </div>
                            <span class="fw-bold font-monospace">Votre image: </span>
                            <div class="form-group">
                              <input type="file" name="candImage" id="candImage" accept=".png,.jpg,.jpeg" (change)="onImageSelected($event)" [(ngModel)]="candidate.candImage" #candImage="ngModel" required/>
                              <label for="candImage" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="candImage.invalid && (candImage.dirty || candImage.touched)" class="text-danger">
                              <small *ngIf="candImage.errors?.['required']">
                                  * Votre image est nécessaire 
                              </small>
                              <small *ngIf="!candImageExtensionValid && signUpForm.controls['candImage'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .png, .jpg, .jpeg
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="email" class="bi bi-envelope-fill"></label>
                              <input type="email" name="email" id="email" placeholder="Votre email *" [(ngModel)]="candidate.email" #email="ngModel" email="true" required />
                            </div>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                              <small *ngIf="email.errors?.['required']">
                                * Votre email est nécessaire
                              </small>
                              <small *ngIf="email.errors?.['email']">
                                  * Email invalide
                                </small>
                            </div>
                            <div class="form-group">
                              <label for="age" class="bi bi-calendar-event"></label>
                              <input type="number" name="age" id="age" placeholder="Votre âge (Ex: 20) *" [(ngModel)]="candidate.age" #age="ngModel" required/>
                            </div>
                            <div *ngIf="age.invalid && (age.dirty || age.touched)" class="text-danger">
                              <small *ngIf="age.errors?.['required']">
                                * Votre âge est nécessaire
                              </small>
                            </div>
                            <div class="form-group-tel">
                              <label for="phone"><i class="zmdi zmdi-phone-sip"></i></label>
                              <ngx-intl-tel-input
                                [cssClass]="'custom'"
                                [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
                                [selectFirstCountry]="false"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectedCountryISO]="CountryISO.Morocco"
                                id="phone"
                                name="phone"
                                [(ngModel)]="phoneNumber"
                                (ngModelChange)="onPhoneChange()"
                                #phone="ngModel"
                                [phoneValidation]="true"
                                [maxLength]="10"
                                required
                              ></ngx-intl-tel-input>
                            </div>
                            <div *ngIf="phone.invalid && phone.touched" class="text-danger">
                              <small *ngIf="phone.errors?.['required']">
                                * Numéro de téléphone est nécessaire
                              </small>
                              <small *ngIf="phone.errors?.['validatePhoneNumber']">
                                * Numéro de téléphone invalide
                              </small>
                              <small *ngIf="phone.errors?.['minLengthError']">
                                * Le numéro de téléphone doit avoir au moins 10 caractères
                              </small>
                            </div>                                                      
                            <div class="form-group">
                              <label for="address" class="bi bi-geo-alt-fill"></label>
                              <input type="text" name="address" id="address" placeholder="Votre adresse *" [(ngModel)]="candidate.address" #address="ngModel" required/>
                            </div>
                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
                              <small *ngIf="address.errors?.['required']">
                                * Votre adresse est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="cin" class="bi bi-geo-alt-fill"></label>
                              <input type="text" name="cin" id="cin" placeholder="Votre CIN *" [(ngModel)]="candidate.cin" #cin="ngModel" required/>
                            </div>
                            <div *ngIf="cin.invalid && (cin.dirty || cin.touched)" class="text-danger">
                              <small *ngIf="cin.errors?.['required']">
                                * Votre CIN est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="studyDegree" class="bi bi-caret-down-fill"></label>
                              <select  name="studyDegree" id="studyDegree" [(ngModel)]="candidate.studyDegree" #studyDegree="ngModel" required>
                                <option value="" disabled selected>Niveau d'étude *</option>
                                <option value="Bac+2">Bac+2</option>
                                <option value="Bac+3">Bac+3</option>
                                <option value="Bac+4">Bac+4</option>
                                <option value="Bac+5">Bac+5</option>
                                <option value="Bac+7">Bac+7</option>
                              </select>
                            </div>
                            <div *ngIf="studyDegree.invalid && (studyDegree.dirty || studyDegree.touched)" class="text-danger">
                              <small *ngIf="studyDegree.errors?.['required']">
                                * Niveau d'étude est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="diploma" class="bi bi-caret-down-fill"></label>
                              <select name="diploma" id="diploma" [(ngModel)]="candidate.diploma" #diploma="ngModel"  required>
                                <option value="" disabled selected>Votre diplôme *</option>
                                <option value="Bachelor">Bachelor : Bachelor</option>
                                <option value="DEUG">DEUG : Diplôme d'études universitaires générales</option>
                                <option value="DEUST">DEUST : Diplôme d’Etudes Universitaires Scientifiques et Techniques</option>
                                <option value="DUT">DUT : Diplôme universitaire de Technologie</option>
                                <option value="BTS">BTS : Brevet de Technicien Supérieur</option>
                                <option value="DTS">DTS : Diplôme de Technicien Spécialisé</option>
                                <option value="DT">DT : Diplôme de Technicien</option>
                                <option value="LF">LF : Licence Fondamentale</option>
                                <option value="LP">LP : Licence Professionnelle</option>
                                <option value="LST">LST : Licence Sciences et Techniques</option>
                                <option value="MS">MS : Master Spécialisé</option>
                                <option value="MR">MR : Master Recherche</option>
                                <option value="MST">MST : Master Sciences et Techniques</option>
                                <option value="IE">IE : Ingénieur d'Etat</option>
                                <option value="MBA">MBA : Master of Business Administration</option>
                                <option value="Doctorat">Doctorat : Doctorat</option>
                              </select>
                            </div>
                            <div *ngIf="diploma.invalid && (diploma.dirty || diploma.touched)" class="text-danger">
                              <small *ngIf="diploma.errors?.['required']">
                                * Diplôme est nécessaire 
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="spec" class="bi bi-caret-down-fill"></label>
                              <select name="spec" id="spec" [(ngModel)]="candidate.spec" #spec="ngModel" required>
                                <option value="" disabled selected>Votre spécialité *</option>
                                <option value="Développeur Web">Info - Développeur Web</option>
                                <option value="Développeur Full-Stack">Info - Développeur Full-Stack</option>
                                <option value="Intelligence Artificiell">Info - Intelligence Artificielle</option>
                                <option value="Data Science">Info - Data Science</option>
                                <option value="Design UX/UI">Info - Design UX/UI </option>
                                <option value="Programmation Mobile"> Info - Programmation Mobile</option>
                                <option value="Développement Logiciel">Info - Développement Logiciel</option>
                                <option value="Réseaux informatiques">Info - Réseaux informatiques</option>
                                <option value="Sécurité informatique">Info - Sécurité informatique</option>
                                <option value="Machine Learning">Info - Machine Learning</option>
                                <option value="Cloud computing">Info - Cloud computing</option>
                                <option value="Marketing digital"> Marketing digital</option>
                                <option value="Gestion de projets"> Gestion de projets</option>
                                <option value="IoT"> IoT (Internet of Things)</option>
                                <option value="Blockchain"> Blockchain</option>
                                <option value="Comptabilité">Comptabilité</option>
                                <option value="Finance"> Finance</option>
                                <option value="Gestion d'entreprise"> Gestion d'entreprise</option>
                                <option value="Gestion des ressources humaines">Gestion des ressources humaines </option>
                                <option value="Management">Management </option>
                                <option value="Marketing">Marketing </option>
                                <option value="Économie publique ">Économie publique </option>
                                <option value="Économie internationale">Économie internationale </option>
                                <option value="Économie d'entreprise">Économie d'entreprise </option>
                                <option value="Administration de bases de données"> Administration de bases de données </option>
                                <option value="Construction et travaux publics"> Construction et travaux publics</option>
                                <option value="Géotechnique"> Géotechnique</option>
                                <option value="Génie civil"> Génie civil</option>
                                <option value="Hydraulique et environnement"> Hydraulique et environnement</option>
                                <option value="Structure et matériaux"> Structure et matériaux</option>
                                <option value="Transports et mobilité"> Transports et mobilité</option>
                                <option value="Urbanisme et aménagement"> Urbanisme et aménagement</option>
                                <option value="Ingénierie du bâtiment"> Ingénierie du bâtiment</option>
                                <option value="Maintenance et réhabilitation des bâtiments"> Maintenance et réhabilitation des bâtiments</option>
                              </select>
                            </div>
                            <div *ngIf="spec.invalid && (spec.dirty || spec.touched)" class="text-danger">
                              <small *ngIf="spec.errors?.['required']">
                                * Votre spécialité est nécessaire 
                              </small>
                            </div>
                            <!-- <div class="form-group">
                              <label for="expYears" class="bi bi-caret-down-fill"></label>
                              <select name="expYears" id="expYears" [(ngModel)]="candidate.expYears" #expYears="ngModel"  required>
                                <option value="" disabled selected>Nombre d'année d'expérience *</option>
                                <option value="Débutant">Débutant</option>
                                <option value="-1 ans">Moins d'un an</option>
                                <option value="1-3 ans">De 1 à 3 ans</option>
                                <option value="3-5 ans">De 3 à 5 ans</option>
                                <option value="5-10 ans">De 5 à 10 ans</option>
                                <option value="+10 ans">+10 ans</option>
                              </select>
                            </div>
                            <div *ngIf="expYears.invalid && (expYears.dirty || expYears.touched)" class="text-danger">
                              <small *ngIf="expYears.errors?.['required']">
                                * Nombre d'année d'expérience est nécessaire
                              </small>
                            </div> -->
                            <!-- <span class="fw-bold font-monospace">Votre lettre de motivation: </span>
                            <div class="form-group">
                              <input type="file" name="lmFile" id="lmFile" accept=".pdf" (change)="onLMFileSelected($event)"  [(ngModel)]="candidate.lmFile" #lmFile="ngModel" required/>
                              <label for="lmFile" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="lmFile.invalid && (lmFile.dirty || lmFile.touched)" class="text-danger">
                              <small *ngIf="lmFile.errors?.['required']">
                                * Lettre de motivation est nécessaire
                              </small>
                              <small *ngIf="!LMExtensionValid && signUpForm.controls['lmFile'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .pdf
                              </small>
                            </div>
                            <span class="fw-bold font-monospace">Votre curriculum vitae: </span>
                            <div class="form-group">
                              <input type="file" name="cvFile" id="cvFile" accept=".pdf" (change)="onCVFileSelected($event)"  [(ngModel)]="candidate.cvFile" #cvFile="ngModel" required/>
                              <label for="cvFile" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="cvFile.invalid && (cvFile.dirty || cvFile.touched)" class="text-danger">
                              <small *ngIf="cvFile.errors?.['required']">
                                * CV est nécessaire 
                              </small>
                              <small *ngIf="!CVExtensionValid && signUpForm.controls['cvFile'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .pdf
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="pass" class="bi bi-lock-fill"></label>
                                <input [type]="typePass" name="pass" id="pass" placeholder="Mot de passe *" [(ngModel)]="candidate.pass" #pass="ngModel" required minlength="10" />
                                <i (click)="hideShowPass()" class="bi {{eyeIconPass}}"></i>
                            </div>
                            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
                              <small *ngIf="pass.errors?.['required']">
                                * Mot de passe est nécessaire
                              </small>
                              <small *ngIf="pass.errors?.['minlength']">
                                * Le mot de passe doit contenir au moins 10 caractères
                              </small>
                            </div>
                            <div class="form-group">
                                <label for="confirmPass" class="bi bi-lock-fill"></label>
                                <input [type]="typeConfirmPass" name="confirmPass" id="confirmPass" placeholder="Répéter mot de passe *" [(ngModel)]="candidate.confirmPass" #confirmPass="ngModel" (blur)="onConfirmPassTouched()" required/>
                                <i (click)="hideShowConfirmPass()" class="bi {{eyeIconConfirmPass}}"></i>
                            </div>
                            <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
                              <small *ngIf="confirmPass.errors?.['required']">
                                * Veuillez confirmer le mot de passe
                              </small>
                            </div>
                            <div *ngIf="confirmPassTouched && candidate.pass !== candidate.confirmPass" class="text-danger">
                              <small>* Les mots de passe ne correspondent pas</small>
                            </div> -->
                            <!-- <div class="form-group">
                                <input type="checkbox" name="agreeTerm" id="agreeTerm" class="agree-term" />
                                <label for="agreeTerm" class="label-agree-term"><span><span></span></span>Je suis d'accord avec toutes les déclarations contenues dans <a href="#" class="term-service">les conditions d'utilisation</a></label>
                            </div> -->
                            <div class="form-group form-button">
                              <button type="submit" id="signup" class="form-submit">S'inscrire</button>
                            </div>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/../../assets/images/signup.jpg" alt="sing up image"></figure>
                        <a routerLink="/login" class="signup-image-link">Je suis déjà membre</a>
                        <div class="form-group">
                          <label for="expYears" class="bi bi-caret-down-fill"></label>
                          <select name="expYears" id="expYears" [(ngModel)]="candidate.expYears" #expYears="ngModel"  required>
                            <option value="" disabled selected>Nombre d'année d'expérience *</option>
                            <option value="Débutant">Débutant</option>
                            <option value="-1 ans">Moins d'un an</option>
                            <option value="1-3 ans">De 1 à 3 ans</option>
                            <option value="3-5 ans">De 3 à 5 ans</option>
                            <option value="5-10 ans">De 5 à 10 ans</option>
                            <option value="+10 ans">+10 ans</option>
                          </select>
                        </div>
                        <div *ngIf="expYears.invalid && (expYears.dirty || expYears.touched)" class="text-danger">
                          <small *ngIf="expYears.errors?.['required']">
                            * Nombre d'année d'expérience est nécessaire
                          </small>
                        </div>
                        <span class="fw-bold font-monospace">Votre lettre de motivation: </span>
                            <div class="form-group">
                              <input type="file" name="lmFile" id="lmFile" accept=".pdf" (change)="onLMFileSelected($event)"  [(ngModel)]="candidate.lmFile" #lmFile="ngModel" required/>
                              <label for="lmFile" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="lmFile.invalid && (lmFile.dirty || lmFile.touched)" class="text-danger">
                              <small *ngIf="lmFile.errors?.['required']">
                                * Lettre de motivation est nécessaire
                              </small>
                              <small *ngIf="!LMExtensionValid && signUpForm.controls['lmFile'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .pdf
                              </small>
                            </div>
                            <span class="fw-bold font-monospace">Votre curriculum vitae: </span>
                            <div class="form-group">
                              <input type="file" name="cvFile" id="cvFile" accept=".pdf" (change)="onCVFileSelected($event)"  [(ngModel)]="candidate.cvFile" #cvFile="ngModel" required/>
                              <label for="cvFile" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="cvFile.invalid && (cvFile.dirty || cvFile.touched)" class="text-danger">
                              <small *ngIf="cvFile.errors?.['required']">
                                * CV est nécessaire 
                              </small>
                              <small *ngIf="!CVExtensionValid && signUpForm.controls['cvFile'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .pdf
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="pass" class="bi bi-lock-fill"></label>
                                <input [type]="typePass" name="pass" id="pass" placeholder="Mot de passe *" [(ngModel)]="candidate.pass" #pass="ngModel" required minlength="10" />
                                <i (click)="hideShowPass()" class="bi {{eyeIconPass}}"></i>
                            </div>
                            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
                              <small *ngIf="pass.errors?.['required']">
                                * Mot de passe est nécessaire
                              </small>
                              <small *ngIf="pass.errors?.['minlength']">
                                * Le mot de passe doit contenir au moins 10 caractères
                              </small>
                            </div>
                            <div class="form-group">
                                <label for="confirmPass" class="bi bi-lock-fill"></label>
                                <input [type]="typeConfirmPass" name="confirmPass" id="confirmPass" placeholder="Répéter mot de passe *" [(ngModel)]="candidate.confirmPass" #confirmPass="ngModel" (blur)="onConfirmPassTouched()" required/>
                                <i (click)="hideShowConfirmPass()" class="bi {{eyeIconConfirmPass}}"></i>
                            </div>
                            <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
                              <small *ngIf="confirmPass.errors?.['required']">
                                * Veuillez confirmer le mot de passe
                              </small>
                            </div>
                            <div *ngIf="confirmPassTouched && candidate.pass !== candidate.confirmPass" class="text-danger">
                              <small>* Les mots de passe ne correspondent pas</small>
                            </div>
                    </div>
                </div>
            </div>
          </form>
        </section>
    </div>
</body>
</html>
