<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/../../assets/css/account.css">
    <title>Formulaire d'inscription </title>
</head>
<body>
    <div class="main">
        <section class="signup">
          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
            <i class="bi-exclamation-triangle-fill"></i>
            <strong class="mx-2">Erreur!</strong> {{ errorMessage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          <div *ngIf="successMessage" class="alert alert-success alert-dismissible d-flex align-items-center fade show">
            <i class="bi-check-circle-fill"></i>
            <strong class="mx-2">Succès!</strong> {{ successMessage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">S'inscrire </h2>
                        <form #signUpForm="ngForm" (ngSubmit)="signup()" class="register-form" id="register-form">
                            <div class="form-group">
                              <input type="file" name="candImage" id="candImage" accept=".png,.jpg,.jpeg" (change)="onImageSelected($event)" [(ngModel)]="candidate.candImage" #candImage="ngModel" required/>
                              <label for="candImage" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="candImage.invalid && (candImage.dirty || candImage.touched)" class="text-danger">
                              <small *ngIf="candImage.errors?.['required']">
                                  * Votre image est nécessaire 
                              </small>
                              <small *ngIf="!candImageExtensionValid && signUpForm.controls['candImage'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .png, .jpg, .jpeg
                              </small>
                            </div>
                            <div class="form-group">
                                <label for="lName" class="bi bi-person-fill"></label>
                                <input type="text" name="lName" id="lName" placeholder="Votre nom *" [(ngModel)]="candidate.lName" #lName="ngModel" required/>
                            </div>
                            <div *ngIf="lName.invalid && (lName.dirty || lName.touched)" class="text-danger">
                              <small *ngIf="lName.errors?.['required']">
                                * Votre nom est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="fName" class="bi bi-person-fill"></label>
                              <input type="text" name="fName" id="fName" placeholder="Votre prénom *" [(ngModel)]="candidate.fName" #fName="ngModel" required/>
                            </div>
                            <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="text-danger">
                              <small *ngIf="fName.errors?.['required']">
                                * Votre prénom est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="email" class="bi bi-envelope-fill"></label>
                              <input type="email" name="email" id="email" placeholder="Votre email *" [(ngModel)]="candidate.email" #email="ngModel" email="true" required />
                            </div>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                              <small *ngIf="email.errors?.['required']">
                                * Votre email est nécessaire
                              </small>
                              <small *ngIf="email.errors?.['email']">
                                  * Email invalide
                                </small>
                            </div>
                            <div class="form-group">
                              <label for="age" class="bi bi-calendar-event"></label>
                              <input type="number" name="age" id="age" placeholder="Votre âge (Ex: 20) *" [(ngModel)]="candidate.age" #age="ngModel" required/>
                            </div>
                            <div *ngIf="age.invalid && (age.dirty || age.touched)" class="text-danger">
                              <small *ngIf="age.errors?.['required']">
                                * Votre âge est nécessaire
                              </small>
                            </div>
                            <div class="form-group-tel">
                              <label for="phone"><i class="zmdi zmdi-phone-sip"></i></label>
                              <input type="text" name="phone" id="phone" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'ma'}" [(ngModel)]="candidate.phone" #phone="ngModel" [pattern]="phonePattern" required/>
                            </div>
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                              <small *ngIf="phone.errors?.['required']">
                                  * Numéro de téléphone est nécessaire
                              </small>
                              <small *ngIf="phone.errors?.['pattern']">
                                  * Numéro de téléphone invalide
                                </small>
                            </div>
                            <div class="form-group">
                              <label for="address" class="bi bi-geo-alt-fill"></label>
                              <input type="text" name="address" id="address" placeholder="Votre adresse *" [(ngModel)]="candidate.address" #address="ngModel" required/>
                            </div>
                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
                              <small *ngIf="address.errors?.['required']">
                                * Votre adresse est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="studyDegree" class="bi bi-caret-down-fill"></label>
                              <select  name="studyDegree" id="studyDegree" [(ngModel)]="candidate.studyDegree" #studyDegree="ngModel" required>
                                <option value="" disabled selected>Niveau d'étude *</option>
                                <option value="Bac+2">Bac+2</option>
                                <option value="Bac+3">Bac+3</option>
                                <option value="Bac+4">Bac+4</option>
                                <option value="Bac+5">Bac+5</option>
                                <option value="Bac+7">Bac+7</option>
                              </select>
                            </div>
                            <div *ngIf="studyDegree.invalid && (studyDegree.dirty || studyDegree.touched)" class="text-danger">
                              <small *ngIf="studyDegree.errors?.['required']">
                                * Niveau d'étude est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="diploma" class="bi bi-caret-down-fill"></label>
                              <select name="diploma" id="diploma" [(ngModel)]="candidate.diploma" #diploma="ngModel"  required>
                                <option value="" disabled selected>Votre diplôme *</option>
                                <option value="Bachelor">Bachelor : Bachelor</option>
                                <option value="DEUG">DEUG : Diplôme d'études universitaires générales</option>
                                <option value="DEUST">DEUST : Diplôme d’Etudes Universitaires Scientifiques et Techniques</option>
                                <option value="DUT">DUT : Diplôme universitaire de Technologie</option>
                                <option value="BTS">BTS : Brevet de Technicien Supérieur</option>
                                <option value="DTS">DTS : Diplôme de Technicien Spécialisé</option>
                                <option value="DT">DT : Diplôme de Technicien</option>
                                <option value="LF">LF : Licence Fondamentale</option>
                                <option value="LP">LP : Licence Professionnelle</option>
                                <option value="LST">LST : Licence Sciences et Techniques</option>
                                <option value="MS">MS : Master Spécialisé</option>
                                <option value="MR">MR : Master Recherche</option>
                                <option value="MST">MST : Master Sciences et Techniques</option>
                                <option value="IE">IE : Ingénieur d'Etat</option>
                                <option value="MBA">MBA : Master of Business Administration</option>
                                <option value="Doctorat">Doctorat : Doctorat</option>
                              </select>
                            </div>
                            <div *ngIf="diploma.invalid && (diploma.dirty || diploma.touched)" class="text-danger">
                              <small *ngIf="diploma.errors?.['required']">
                                * Diplôme est nécessaire 
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="spec" class="bi bi-caret-down-fill"></label>
                              <select name="spec" id="spec" [(ngModel)]="candidate.spec" #spec="ngModel" required>
                                <option value="" disabled selected>Votre spécialité *</option>
                                <option value="webDev">Informatique - Développeur Web</option>
                                <option value="fullDev">Informatique - Développeur Full-Stack</option>
                                <option value="AI">Informatique - Intelligence Artificielle</option>
                                <option value="dataScience">Informatique - Data Science</option>
                                <option value="design">Informatique - Design UX/UI </option>
                                <option value="mobileDev"> Informatique - Programmation Mobile</option>
                                <option value="softwareDev">Informatique - Développement Logiciel</option>
                                <option value="network">Informatique - Réseaux informatiques</option>
                                <option value="security">Informatique - Sécurité informatique</option>
                                <option value="machineLearning">Informatique - Machine Learning</option>
                                <option value="cloudComputing">Informatique - Cloud computing</option>
                                <option value="digitalMarketing"> Marketing digital</option>
                                <option value="projectManagement"> Gestion de projets</option>
                                <option value="IoT"> IoT (Internet of Things)</option>
                                <option value="Blockchain"> Blockchain</option>
                                <option value="accounting">Comptabilité</option>
                                <option value="Finance"> Finance</option>
                                <option value="businessManagement"> Gestion d'entreprise</option>
                                <option value="humanResources">Gestion des ressources humaines </option>
                                <option value="management">Management </option>
                                <option value="marketing">Marketing </option>
                                <option value="publicEconomy">Économie publique </option>
                                <option value="internationalEconomy">Économie internationale </option>
                                <option value="businessEconomics">Économie d'entreprise </option>
                                <option value="databaseAdministration"> Administration de bases de données </option>
                                <option value="construction"> Construction et travaux publics</option>
                                <option value="geotechnical"> Géotechnique</option>
                                <option value="civil"> Génie civil</option>
                                <option value="hydraulics"> Hydraulique et environnement</option>
                                <option value="Structure"> Structure et matériaux</option>
                                <option value="transports"> Transports et mobilité</option>
                                <option value="urban"> Urbanisme et aménagement</option>
                                <option value="building"> Ingénierie du bâtiment</option>
                                <option value="maintenance"> Maintenance et réhabilitation des bâtiments</option>
                              </select>
                            </div>
                            <div *ngIf="spec.invalid && (spec.dirty || spec.touched)" class="text-danger">
                              <small *ngIf="spec.errors?.['required']">
                                * Votre spécialité est nécessaire 
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="expYears" class="bi bi-caret-down-fill"></label>
                              <select name="expYears" id="expYears" [(ngModel)]="candidate.expYears" #expYears="ngModel"  required>
                                <option value="" disabled selected>Nombre d'année d'expérience *</option>
                                <option value="0">Débutant</option>
                                <option value="-1">Moins d'un an</option>
                                <option value="1-3">De 1 à 3 ans</option>
                                <option value="3-5">De 3 à 5 ans</option>
                                <option value="5-10">De 5 à 10 ans</option>
                                <option value="+10">+10 ans</option>
                              </select>
                            </div>
                            <div *ngIf="expYears.invalid && (expYears.dirty || expYears.touched)" class="text-danger">
                              <small *ngIf="expYears.errors?.['required']">
                                * Nombre d'année d'expérience est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                              <input type="file" name="LMFile" id="LMFile" accept=".pdf" (change)="onLMFileSelected($event)"  [(ngModel)]="candidate.LMFile" #LMFile="ngModel" required/>
                              <label for="LMFile" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="LMFile.invalid && (LMFile.dirty || LMFile.touched)" class="text-danger">
                              <small *ngIf="LMFile.errors?.['required']">
                                * Lettre de motivation est nécessaire
                              </small>
                              <small *ngIf="!LMExtensionValid && signUpForm.controls['LMFile'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .pdf
                              </small>
                            </div>
                            <div class="form-group">
                              <input type="file" name="CVFile" id="CVFile" accept=".pdf" (change)="onCVFileSelected($event)"  [(ngModel)]="candidate.CVFile" #CVFile="ngModel" required/>
                              <label for="CVFile" class="bi bi-cloud-arrow-up-fill"></label>
                            </div>
                            <div *ngIf="CVFile.invalid && (CVFile.dirty || CVFile.touched)" class="text-danger">
                              <small *ngIf="CVFile.errors?.['required']">
                                * CV est nécessaire 
                              </small>
                              <small *ngIf="!CVExtensionValid && signUpForm.controls['CVFile'].errors?.['invalidExtension']">
                                  * Extension de fichier autorisée : .pdf
                              </small>
                            </div>
                            <div class="form-group">
                              <label for="pass" class="bi bi-lock-fill"></label>
                                <input [type]="type" name="pass" id="pass" placeholder="Mot de passe *" [(ngModel)]="candidate.pass" #pass="ngModel" required/>
                                <i (click)="hideShowPass()" class="bi {{eyeIcon}}"></i>
                            </div>
                            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
                              <small *ngIf="pass.errors?.['required']">
                                * Mot de passe est nécessaire
                              </small>
                            </div>
                            <div class="form-group">
                                <label for="confirmPass" class="bi bi-lock-fill"></label>
                                <input [type]="type" name="confirmPass" id="confirmPass" placeholder="Répéter mot de passe *" [(ngModel)]="candidate.confirmPass" #confirmPass="ngModel" required/>
                                <i (click)="hideShowConfirmPass()" class="bi {{eyeIcon}}"></i>
                            </div>
                            <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
                              <small *ngIf="confirmPass.errors?.['required']">
                                * répéter le mot de passe est nécessaire 
                              </small>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agreeTerm" id="agreeTerm" class="agree-term" />
                                <label for="agreeTerm" class="label-agree-term"><span><span></span></span>Je suis d'accord avec toutes les déclarations contenues dans <a href="#" class="term-service">les conditions d'utilisation</a></label>
                            </div>
                            <div class="form-group form-button">
                              <button type="submit" id="signup" class="form-submit">S'inscrire</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/../../assets/images/signup.jpg" alt="sing up image"></figure>
                        <a routerLink="/login" class="signup-image-link">Je suis déjà membre</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
