<div class="head-title">
  <div class="show-line">
    <p>Afficher par page :</p>
    <select id="form-select-coins">
      <option value="10" selected>10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
  </div>
  <!-- <form action="#">
    <div class="form-input">
      <input type="search" placeholder="Chercher...">
      <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
    </div>
  </form> -->

    <form class="form-inline">
        <select id="Categorie" name="Categorie" class="input-categorie">
          <option selected="selected" value="0">Chercher par <i class="bi bi-caret-down-fill"></i></option>
          <option value="expYears">Nombre d'expérience</option>
          <option value="diploma">Diplôme</option>
          <option value="spec">Spécialité</option>
        </select>
      <input id="keySearch" name="keySearch" type="text" class="form-control" placeholder="Saisie de mots clés" required="required">

         <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>

    </form>

    <!-- <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Chercher...">
        <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form> -->

  <button href="#" class="btn-download" (click)="addCandidate()">
    <i class="bi bi-person-plus-fill"></i>
    <span class="text">Ajouter candidat</span>
  </button>
</div>



<div class="table-data">
  <div class="order">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Age</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Diplôme</th>
          <th>Expériences</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates">
          <td>{{candidate.idCand}}</td>
          <td>
            <div class="d-flex align-items-center">
              <img [src]="createImgPath(candidate.candImagePath)" alt="user image" style="width: 45px; height: 45px" class="rounded-circle"/>
              <div class="ms-3">
                <p class="fw-bold mb-1">{{candidate.fName }} {{candidate.lName}}</p>
                <p class="text-muted mb-0">{{candidate.email}} </p>
              </div>
            </div>
          </td>
          <td> {{candidate.age}} ans</td>
          <td> {{candidate.phone}} </td>
          <td> {{candidate.address}}  </td>
          <td>
            <p class="fw-normal mb-1">{{candidate.diploma}} </p>
            <p class="text-muted mb-0">{{candidate.spec}} </p>
          </td>
          <td> {{candidate.expYears}}</td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="showCandidate(candidate.idCand)">
              <i class="bi bi-eye-fill"></i>
            </button>
            <!-- <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="editCandidate(candidate.idCand)">
              <i class="bi bi-pencil-fill"></i>
            </button> -->
            <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="deleteCandidate(candidate.idCand)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
