
<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Candidatures récentes</h3>
      <i class='bx bx-search' ></i>
      <i class='bx bx-filter' ></i>
    </div>
    <table>
      <thead>
        <tr>
          <th>Candidat</th>
          <th>Date</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="flex-td">
            <img src="/../../assets/images/user.png">
            <p>User Name</p>
          </td>
          <td>01-03-2023</td>
          <td><span class="status hiring">Embauché</span></td>
        </tr>
        <tr>
          <td class="flex-td">
            <img src="/../../assets/images/user.png">
            <p>User Name</p>
          </td>
          <td>01-03-2023</td>
          <td><span class="status pending">Encours</span></td>
        </tr>
        <tr>
          <td class="flex-td">
            <img src="/../../assets/images/user.png">
            <p>User Name</p>
          </td>
          <td>01-03-2023</td>
          <td><span class="status received">Reçu</span></td>
        </tr>
        <tr>
          <td class="flex-td">
            <img src="/../../assets/images/user.png">
            <p>User Name</p>
          </td>
          <td>01-03-2023</td>
          <td><span class="status refusal">Refusé</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="todo">
    <div class="head">
      <h3>Todos</h3>
      <i class='bx bx-plus' ></i>
      <i class='bx bx-filter' ></i>
    </div>
    <ul class="todo-list">
      <li class="completed">
        <p>Todo List</p>
        <i class='bx bx-dots-vertical-rounded' ></i>
      </li>
      <li class="completed">
        <p>Todo List</p>
        <i class='bx bx-dots-vertical-rounded' ></i>
      </li>
      <li class="not-completed">
        <p>Todo List</p>
        <i class='bx bx-dots-vertical-rounded' ></i>
      </li>
      <li class="completed">
        <p>Todo List</p>
        <i class='bx bx-dots-vertical-rounded' ></i>
      </li>
      <li class="not-completed">
        <p>Todo List</p>
        <i class='bx bx-dots-vertical-rounded' ></i>
      </li>
    </ul>
  </div> -->
</div>

