
<div class="container">
  <div class="main-body">
      <div class="div-btn-close">
        <button class="btn-close" data-dismiss="modal" (click)="close()"></button>
      </div>
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img [src]="createImgPath(recruiter.recImagePath)"  alt="recruiter image" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{recruiter.fName}} {{recruiter.lName}}</h4>
                    <p class="text-secondary mb-1">{{recruiter.career}}</p>
                    <p class="text-muted font-size-sm">à {{recruiter.company.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Nom complet</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{recruiter.fName}} {{recruiter.lName}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Age</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{recruiter.age}} ans
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{recruiter.email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Téléphone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{recruiter.phone}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Adresse</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{recruiter.address}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Poste</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{recruiter.career}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

