
<div class="container">

  <div class="head-btn-add">
    <button href="#" class="btn-download">
      <i class="bi bi-person-plus-fill"></i>
      <span class="text">Ajouter une entreprise</span>
    </button>
  </div>

    <div class="row">

        <div class="col-md-4 mt-4">
            <div class="card user-card">
                <!-- <div class="card-header">
                    <h5>Profil</h5>
                </div> -->
                <div class="card-block">
                    <div class="user-image user-image-comp">
                      <img src="/../../assets/images/logo.png" alt="logo">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Ultimate Solutions</h6>
                    <p class="text-muted"><i class="bi bi-globe"></i> ultimatesolutionsportal.com</p>
                    <hr>
                    <p class="card-desc m-t-15">Société informatique spécialisée dans le développement de solutions ERP et de systèmes spécialisés</p>

                    <div class="bg-c-blue counter-block m-t-10 p-20">
                        <div class="row">
                            <div class="col-5">
                              <i class="bi bi-telephone-fill"></i>
                                <p>+212662041189</p>
                            </div>
                            <div class="col-7">
                              <i class="bi bi-envelope-at-fill"></i>
                                <p>sales@ultimate-ma.com</p>
                            </div>
                            <!-- <div class="col-4">
                              <i class="bi bi-file-post"></i>
                                <p>9</p>
                            </div> -->
                        </div>
                    </div>
                    <p class="text-adr m-t-15"><i class="bi bi-geo-alt-fill"></i> Immeuble Founty park 1 , cité Haute Founty Agadir</p>
                    <!-- <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                        <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
          <div class="card user-card">
              <!-- <div class="card-header">
                  <h5>Profil</h5>
              </div> -->
              <div class="card-block">
                  <div class="user-image user-image-comp">
                    <img src="/../../assets/images/logo.png" alt="logo">
                  </div>
                  <h6 class="f-w-600 m-t-25 m-b-10">Ultimate Solutions</h6>
                  <p class="text-muted"><i class="bi bi-globe"></i> ultimatesolutionsportal.com</p>
                  <hr>
                  <p class="card-desc m-t-15">Société informatique spécialisée dans le développement de solutions ERP et de systèmes spécialisés</p>

                  <div class="bg-c-blue counter-block m-t-10 p-20">
                      <div class="row">
                          <div class="col-5">
                            <i class="bi bi-telephone-fill"></i>
                              <p>+212662041189</p>
                          </div>
                          <div class="col-7">
                            <i class="bi bi-envelope-at-fill"></i>
                              <p>sales@ultimate-ma.com</p>
                          </div>
                          <!-- <div class="col-4">
                            <i class="bi bi-file-post"></i>
                              <p>9</p>
                          </div> -->
                      </div>
                  </div>
                  <p class="text-adr m-t-15"><i class="bi bi-geo-alt-fill"></i> Immeuble Founty park 1 , cité Haute Founty Agadir</p>
                  <!-- <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                  <hr>
                  <div class="row justify-content-center user-social-link">
                      <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                      <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card user-card">
            <!-- <div class="card-header">
                <h5>Profil</h5>
            </div> -->
            <div class="card-block">
                <div class="user-image user-image-comp">
                  <img src="/../../assets/images/logo.png" alt="logo">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Ultimate Solutions</h6>
                <p class="text-muted"><i class="bi bi-globe"></i> ultimatesolutionsportal.com</p>
                <hr>
                <p class="card-desc m-t-15">Société informatique spécialisée dans le développement de solutions ERP et de systèmes spécialisés</p>

                <div class="bg-c-blue counter-block m-t-10 p-20">
                    <div class="row">
                        <div class="col-5">
                          <i class="bi bi-telephone-fill"></i>
                            <p>+212662041189</p>
                        </div>
                        <div class="col-7">
                          <i class="bi bi-envelope-at-fill"></i>
                            <p>sales@ultimate-ma.com</p>
                        </div>
                        <!-- <div class="col-4">
                          <i class="bi bi-file-post"></i>
                            <p>9</p>
                        </div> -->
                    </div>
                </div>
                <p class="text-adr m-t-15"><i class="bi bi-geo-alt-fill"></i> Immeuble Founty park 1 , cité Haute Founty Agadir</p>
                <!-- <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <hr>
                <div class="row justify-content-center user-social-link">
                    <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                    <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
                </div>
            </div>
        </div>
    </div>



	</div>
</div>

