<div class="container" >
  <div class="head-btn-add">
    <button href="#" class="btn-download" (click)="addCompanyModal()">
      <i class="bi bi-building-fill-add"></i>
      <span class="text">Ajouter une entreprise</span>
    </button>
  </div>
  <div class="row"  >
    <div class="col-md-4 mt-4" *ngFor="let company of companies">
      <div class="card user-card">
        <div class="card-header">
          <h5>Id: {{company.idCo}}</h5>
          </div>
        <div class="card-block" >
          <div class="user-image user-image-comp">
            <img [src]="createImgPath(company.logoPath)"alt="logo">
          </div>
          <h6 class="f-w-600 m-t-25 m-b-10">{{company.name}}</h6>
          <p class="text-muted"><i class="bi bi-globe"></i> {{ company.website }}</p>
          <p><i class="bi bi-building-fill-down"></i> {{ company.businessSector }}</p>
          <hr>
          <p class="card-desc m-t-15">{{ company.description }}</p>
          <div class="bg-c-blue counter-block m-t-10 p-20">
            <div class="row">
              <div class="col-5">
                <i class="bi bi-telephone-fill"></i>
                <p>{{ company.phone }}</p>
              </div>
              <div class="col-7">
                <i class="bi bi-envelope-at-fill"></i>
                <p>{{ company.email }}</p>
              </div>
            </div>
          </div>
          <p class="text-adr m-t-15"><i class="bi bi-geo-alt-fill"></i> {{ company.address }}</p>
          <hr>
          <div class="row">
            <div class="col-6 col-sm-6 text-muted m-t-15">RC: {{ company.rc }}</div>
            <div class="col-6 col-sm-4 text-muted m-t-15">IF: {{ company.idF }}</div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 text-muted m-t-15">ICE: {{ company.ice }}</div>
            <div class="col-6 col-sm-4 text-muted m-t-15">Statut: {{ company.legalStatus }}</div>
          </div>
          <hr>
          <div class="row justify-content-center user-social-link">
            <div class="col-auto"><button (click)="editCompanyModal(company.idCo)"><i class="bi bi-pencil-fill btn-action"></i></button></div>
            <div class="col-auto"><button (click)="deleteCompany(company.idCo)"><i class="bi bi-trash-fill btn-action"></i></button></div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

