
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Profil</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                      <img src="/../../assets/images/user.png" alt="user">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Mariem Alami</h6>
                    <p class="text-muted">@Ultimate | mariem@gmail.com</p>
                    <hr>
                    <p class="text-muted m-t-15">Niveau d'activité: 87%</p>
                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="bg-c-blue counter-block m-t-10 p-20">
                        <div class="row">
                            <div class="col-4">
                              <i class="bi bi-calendar3"></i>
                                <p>12</p>
                            </div>
                            <div class="col-4">
                                <i class="bi bi-person-fill"></i>
                                <p>62</p>
                            </div>
                            <div class="col-4">
                              <i class="bi bi-file-post"></i>
                                <p>9</p>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><button (click)="showCandidate()"><i class="bi bi-eye-fill btn-action"></i></button></div>
                        <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                        <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
          <div class="card user-card">
              <div class="card-header">
                  <h5>Profil</h5>
              </div>
              <div class="card-block">
                  <div class="user-image">
                    <img src="/../../assets/images/user.png" alt="user">
                  </div>
                  <h6 class="f-w-600 m-t-25 m-b-10">Mariem Alami</h6>
                  <p class="text-muted">@Ultimate | mariem@gmail.com</p>
                  <hr>
                  <p class="text-muted m-t-15">Niveau d'activité: 87%</p>
                  <ul class="list-unstyled activity-leval">
                      <li class="active"></li>
                      <li class="active"></li>
                      <li class="active"></li>
                      <li></li>
                      <li></li>
                  </ul>
                  <div class="bg-c-blue counter-block m-t-10 p-20">
                      <div class="row">
                          <div class="col-4">
                            <i class="bi bi-calendar3"></i>
                              <p>12</p>
                          </div>
                          <div class="col-4">
                              <i class="bi bi-person-fill"></i>
                              <p>62</p>
                          </div>
                          <div class="col-4">
                            <i class="bi bi-file-post"></i>
                              <p>9</p>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                  <hr>
                  <div class="row justify-content-center user-social-link">
                      <div class="col-auto"><button><i class="bi bi-eye-fill btn-action"></i></button></div>
                      <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                      <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-4">
        <div class="card user-card">
            <div class="card-header">
                <h5>Profil</h5>
            </div>
            <div class="card-block">
                <div class="user-image">
                  <img src="/../../assets/images/user.png" alt="user">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Mariem Alami</h6>
                <p class="text-muted">@Ultimate | mariem@gmail.com</p>
                <hr>
                <p class="text-muted m-t-15">Niveau d'activité: 87%</p>
                <ul class="list-unstyled activity-leval">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="bg-c-blue counter-block m-t-10 p-20">
                    <div class="row">
                        <div class="col-4">
                          <i class="bi bi-calendar3"></i>
                            <p>12</p>
                        </div>
                        <div class="col-4">
                            <i class="bi bi-person-fill"></i>
                            <p>62</p>
                        </div>
                        <div class="col-4">
                          <i class="bi bi-file-post"></i>
                            <p>9</p>
                        </div>
                    </div>
                </div>
                <!-- <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <hr>
                <div class="row justify-content-center user-social-link">
                    <div class="col-auto"><button><i class="bi bi-eye-fill btn-action"></i></button></div>
                    <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                    <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
      <div class="card user-card">
          <div class="card-header">
              <h5>Profil</h5>
          </div>
          <div class="card-block">
              <div class="user-image">
                <img src="/../../assets/images/user.png" alt="user">
              </div>
              <h6 class="f-w-600 m-t-25 m-b-10">Mariem Alami</h6>
              <p class="text-muted">@Ultimate | mariem@gmail.com</p>
              <hr>
              <p class="text-muted m-t-15">Niveau d'activité: 87%</p>
              <ul class="list-unstyled activity-leval">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
              </ul>
              <div class="bg-c-blue counter-block m-t-10 p-20">
                  <div class="row">
                      <div class="col-4">
                        <i class="bi bi-calendar3"></i>
                          <p>12</p>
                      </div>
                      <div class="col-4">
                          <i class="bi bi-person-fill"></i>
                          <p>62</p>
                      </div>
                      <div class="col-4">
                        <i class="bi bi-file-post"></i>
                          <p>9</p>
                      </div>
                  </div>
              </div>
              <!-- <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
              <hr>
              <div class="row justify-content-center user-social-link">
                  <div class="col-auto"><button><i class="bi bi-eye-fill btn-action"></i></button></div>
                  <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                  <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
              </div>
          </div>
      </div>
  </div>


	</div>
</div>
