
th, td {
  text-align: center!important;
  max-width: 250px;
}


.btn-link {
  color: var(--dark)!important;
}

.btn {
  padding: 4px!important;
}

.align-items-center {
  justify-content: center;
}

.show-line {
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

.show-line p{
  margin-bottom: 0;
}

.show-line select{
  background: var(--light);
  border: 1px solid var(--blue);
  border-radius: 5px;
}

.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inline .input-categorie {
  border: 1px solid var(--light);
  border-radius: 5px 0 0 5px;
  padding: 4.5px;
  background-color: var(--light);
  width: 52%;
}

.form-inline input {
  border: 1px solid var(--light);
  border-radius: 0 5px 5px 0px;
  padding: 5px;
  background-color: var(--light);
  text-align: center;
}

.form-inline button {
  width: 50px;
  height: 100%;
  background: var(--green);
  color: var(--light);
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
