<div class="table-data">
    <div class="order">
      <div class="chart-container">
        <h3>Candidatures par offre</h3>
        <canvas #applicationsPerOfferChart></canvas>
      </div>
    </div>
    <div class="todo">
      <div class="chart-container">
        <h3>Candidatures par candidat</h3>
        <canvas #applicationsPerCandidateChart></canvas>
      </div>
    </div>
    <div class="todo">
      <div class="chart-container">
        <h3>Distribution des statuts de candidature</h3>
        <canvas #applicationStatusDistributionChart></canvas>
      </div>
    </div>
</div>



