<div class="head-title">
  <div class="show-line">
    <p>Afficher par page :</p>
    <select id="form-select-coins">
      <option value="10" selected>10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
  </div>
  <!-- <form action="#">
    <div class="form-input">
      <input type="search" placeholder="Chercher...">
      <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
    </div>
  </form> -->

    <form class="form-inline">
        <select id="Categorie" name="Categorie" class="input-categorie">
          <option selected="selected" value="0">Chercher par <i class="bi bi-caret-down-fill"></i></option>
          <option value="expYears">Expérience</option>
          <option value="contract">Contrat</option>
          <option value="salary">Salaire</option>
        </select>
      <input id="keySearch" name="keySearch" type="text" class="form-control" placeholder="Saisie de mots clés" required="required">

         <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>

    </form>

    <!-- <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Chercher...">
        <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form> -->

  <button href="#" class="btn-download">
    <i class="bi bi-person-plus-fill"></i>
    <span class="text">Ajouter Offre</span>
  </button>
</div>



<div class="table-data">
  <div class="order">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Poste</th>
          <th>Description</th>
          <th>Formation</th>
          <th>Compétences</th>
          <th>Expériences</th>
          <th>Langues</th>
          <th>Mission</th>
          <th>Salaire</th>
          <th>Contrat</th>
          <th>Disponibilité</th>
          <th>villeTravail</th>
          <th>nbrRecruté</th>
          <th>DatePub</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01</td>
          <td>Développeur(se) Frontend Vue/Angular/Reactjs</td>
          <td> Dans le encadrement de son développement, Vala bleu recherche des développeurs web full stack pour intégrer notre équipe de développement afin d’accompagner nos clients dans leurs projets de transformation digitale.</td>
          <td> Ingénieur</td>
          <td> - Html, CSS, Vue et/ou Angular et/ou ReactJS  - Bootstrap, JS (ES5 ou ES6)  -Node Js (Express, Mongo)  - Framework JS : Next.js et/ou NuxtJs</td>
          <td>(2 ans - 3 ans)</td>
          <td>-Arabe -Français -Anglais</td>
          <td>-Conception et mise en œuvre de solutions logicielles de qualité - Collaboration avec l'équipe de développement pour la création de microservices performants et fiables. - Mise en place de bonnes pratiques d'architecture et de qualité de développement suivant les principes Agile/Scrum. - Développement et maintenance d'applications fullstack à l'aide de différentes technologies et frameworks. -Proposition et mise en œuvre de solutions techniques en accord avec l'architecture existante. </td>
          <td>10000 DHS</td>
          <td>CDD</td>
          <td>Immédiatement</td>
          <td> Agadir</td>
          <td>1</td>
          <td>27/05/2023</td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td>02</td>
          <td>Développeur(se) Frontend Vue/Angular/Reactjs</td>
          <td> Dans le encadrement de son développement, Vala bleu recherche des développeurs web full stack pour intégrer notre équipe de développement afin d’accompagner nos clients dans leurs projets de transformation digitale.</td>
          <td> Ingénieur</td>
          <td> - Html, CSS, Vue et/ou Angular et/ou ReactJS  - Bootstrap, JS (ES5 ou ES6)  -Node Js (Express, Mongo)  - Framework JS : Next.js et/ou NuxtJs</td>
          <td>(2 ans - 3 ans)</td>
          <td>-Arabe -Français -Anglais</td>
          <td>-Conception et mise en œuvre de solutions logicielles de qualité - Collaboration avec l'équipe de développement pour la création de microservices performants et fiables. - Mise en place de bonnes pratiques d'architecture et de qualité de développement suivant les principes Agile/Scrum. - Développement et maintenance d'applications fullstack à l'aide de différentes technologies et frameworks. -Proposition et mise en œuvre de solutions techniques en accord avec l'architecture existante. </td>
          <td>10000 DHS</td>
          <td>CDD</td>
          <td>Immédiatement</td>
          <td> Agadir</td>
          <td>1</td>
          <td>27/05/2023</td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

