

<div class="container">

  <div class="head-btn-add">
    <button href="#" class="btn-download">
      <i class="bi bi-person-plus-fill"></i>
      <span class="text">Ajouter offre</span>
    </button>
  </div>

	<div class="row">
		<div class="col-md-6 mt-4">
                <div class="card-offer ">
                    <div class="card-block">
                        <h4 class="title mt-3">Développeur(se) Frontend Vue/Angular/Reactjs</h4>
                        <div class="meta">
                            <p>Ingénieur</p>
                        </div>
                        <div class="card-text">
                          <div>
                            <h5 class="card-title"> Expérience professionnelle: </h5>
                            <p>(2 ans - 3 ans)</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Type de contrat: </h5>
                            <p>CDD</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Ville: </h5>
                            <p>Agadir</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Disponibilité: </h5>
                            <p>Immédiatement</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Nombre à recruté: </h5>
                            <p>1</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Entreprise: </h5>
                            <p>Ultimate Solutions</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Recruteur: </h5>
                            <p>Mariem Alami</p>
                          </div>
                        </div>
                    </div>

                    <div class="card-footer tab-card-header">
                      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc-tab-pane" role="tab" aria-controls="desc-tab-pane" aria-selected="true">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission-tab-pane" role="tab" aria-controls="mission-tab-pane" aria-selected="false">Mission</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="compt-tab" data-bs-toggle="tab" data-bs-target="#compt-tab-pane" role="tab" aria-controls="compt-tab-pane" aria-selected="false">Compétences</button>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active p-3" id="desc-tab-pane" role="tabpanel" aria-labelledby="desc-tab" tabindex="0">
                        <p class="card-text">Dans le encadrement de son développement, Vala bleu recherche des développeurs web full stack pour intégrer notre équipe
                          de développement afin d’accompagner nos clients dans leurs projets de transformation digitale.</p>
                      </div>
                      <div class="tab-pane fade p-3" id="mission-tab-pane" role="tabpanel" aria-labelledby="mission-tab" tabindex="0">
                        <div class="card-text">
                          <ul>
                            <li>Conception et mise en œuvre de solutions logicielles de qualité</li>
                            <li>Collaboration avec l'équipe de développement pour la création de microservices performants et fiables</li>
                            <li>Mise en place de bonnes pratiques d'architecture et de qualité de développement suivant les principes Agile/Scrum</li>
                            <li> Développement et maintenance d'applications fullstack à l'aide de différentes technologies et frameworks</li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane fade p-3" id="compt-tab-pane" role="tabpanel" aria-labelledby="compt-tab" tabindex="0">
                        <div class="card-text">
                          <ul>
                            <li>Html, CSS, Vue et/ou Angular et/ou ReactJS </li>
                            <li>Bootstrap, JS (ES5 ou ES6)</li>
                            <li>Node Js (Express, Mongo)</li>
                            <li>Framework JS : Next.js et/ou NuxtJs</li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer-date">
                        <div class="row user-social-link">
                          <div class="col-auto"><button><i class="bi bi-pencil-fill btn-action"></i></button></div>
                          <div class="col-auto"><button><i class="bi bi-trash-fill btn-action"></i></button></div>
                        </div>
                        <small>Posté le 27/05/2023</small>
                      </div>
                </div>
            </div>
	</div>


  <div class="col-md-6 mt-4">
    <div class="card-offer ">
        <div class="card-block">
            <h4 class="title mt-3">Développeur(se) Frontend Vue/Angular/Reactjs</h4>
            <div class="meta">
                <p>Ingénieur</p>
            </div>
            <div class="card-text">
              <div>
                <h5 class="card-title"> Expérience professionnelle: </h5>
                <p>(2 ans - 3 ans)</p>
              </div>
              <div>
                <h5 class="card-title"> Type de contrat: </h5><p>CDD</p>
              </div>
              <div>
                <h5 class="card-title"> Ville: </h5><p>Agadir</p>
              </div>
              <div>
                <h5 class="card-title"> Disponibilité: </h5><p>Immédiatement</p>
              </div>
              <div>
                <h5 class="card-title"> Nombre à recruté: </h5><p>1</p>
              </div>
            </div>
        </div>

        <div class="card-footer tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc-tab-pane" role="tab" aria-controls="desc-tab-pane" aria-selected="true">Description</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission-tab-pane" role="tab" aria-controls="mission-tab-pane" aria-selected="false">Mission</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="compt-tab" data-bs-toggle="tab" data-bs-target="#compt-tab-pane" role="tab" aria-controls="compt-tab-pane" aria-selected="false">Compétences</button>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active p-3" id="desc-tab-pane" role="tabpanel" aria-labelledby="desc-tab" tabindex="0">
            <p class="card-text">Dans le encadrement de son développement, Vala bleu recherche des développeurs web full stack pour intégrer notre équipe
              de développement afin d’accompagner nos clients dans leurs projets de transformation digitale.</p>
          </div>
          <div class="tab-pane fade p-3" id="mission-tab-pane" role="tabpanel" aria-labelledby="mission-tab" tabindex="0">
            <div class="card-text">
              <ul>
                <li>Conception et mise en œuvre de solutions logicielles de qualité</li>
                <li>Collaboration avec l'équipe de développement pour la création de microservices performants et fiables</li>
                <li>Mise en place de bonnes pratiques d'architecture et de qualité de développement suivant les principes Agile/Scrum</li>
                <li> Développement et maintenance d'applications fullstack à l'aide de différentes technologies et frameworks</li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade p-3" id="compt-tab-pane" role="tabpanel" aria-labelledby="compt-tab" tabindex="0">
            <div class="card-text">
              <ul>
                <li>Html, CSS, Vue et/ou Angular et/ou ReactJS </li>
                <li>Bootstrap, JS (ES5 ou ES6)</li>
                <li>Node Js (Express, Mongo)</li>
                <li>Framework JS : Next.js et/ou NuxtJs</li>
              </ul>
            </div>
          </div>
          <div class="card-footer-date">
            <small>Posté le 27/05/2023</small>
          </div>
    </div>
</div>
</div>


<div class="col-md-6 mt-4">
                <div class="card-offer ">
                    <div class="card-block">
                        <h4 class="title mt-3">Développeur(se) Frontend Vue/Angular/Reactjs</h4>
                        <div class="meta">
                            <p>Ingénieur</p>
                        </div>
                        <div class="card-text">
                          <div>
                            <h5 class="card-title"> Expérience professionnelle: </h5>
                            <p>(2 ans - 3 ans)</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Type de contrat: </h5><p>CDD</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Ville: </h5><p>Agadir</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Disponibilité: </h5><p>Immédiatement</p>
                          </div>
                          <div>
                            <h5 class="card-title"> Nombre à recruté: </h5><p>1</p>
                          </div>
                        </div>
                    </div>

                    <div class="card-footer tab-card-header">
                      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc-tab-pane" role="tab" aria-controls="desc-tab-pane" aria-selected="true">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission-tab-pane" role="tab" aria-controls="mission-tab-pane" aria-selected="false">Mission</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="compt-tab" data-bs-toggle="tab" data-bs-target="#compt-tab-pane" role="tab" aria-controls="compt-tab-pane" aria-selected="false">Compétences</button>
                        </li>
                      </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active p-3" id="desc-tab-pane" role="tabpanel" aria-labelledby="desc-tab" tabindex="0">
                        <p class="card-text">Dans le encadrement de son développement, Vala bleu recherche des développeurs web full stack pour intégrer notre équipe
                          de développement afin d’accompagner nos clients dans leurs projets de transformation digitale.</p>
                      </div>
                      <div class="tab-pane fade p-3" id="mission-tab-pane" role="tabpanel" aria-labelledby="mission-tab" tabindex="0">
                        <div class="card-text">
                          <ul>
                            <li>Conception et mise en œuvre de solutions logicielles de qualité</li>
                            <li>Collaboration avec l'équipe de développement pour la création de microservices performants et fiables</li>
                            <li>Mise en place de bonnes pratiques d'architecture et de qualité de développement suivant les principes Agile/Scrum</li>
                            <li> Développement et maintenance d'applications fullstack à l'aide de différentes technologies et frameworks</li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane fade p-3" id="compt-tab-pane" role="tabpanel" aria-labelledby="compt-tab" tabindex="0">
                        <div class="card-text">
                          <ul>
                            <li>Html, CSS, Vue et/ou Angular et/ou ReactJS </li>
                            <li>Bootstrap, JS (ES5 ou ES6)</li>
                            <li>Node Js (Express, Mongo)</li>
                            <li>Framework JS : Next.js et/ou NuxtJs</li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer-date">
                        <small>Posté le 27/05/2023</small>
                      </div>
                </div>
            </div>
	</div>
</div>

