<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/../../assets/css/account.css">
    <title>Réinitialiser le mot de passe</title>
</head>
<body>
    <div class="main">
        <section class="sign-in">
            <div class="container">
              <div *ngIf="successMessage" class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                <strong class="mx-2">Succès!</strong> {{ successMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                  <strong class="mx-2">Erreur!</strong> {{ errorMessage }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
                <div class="signin-content">
                  <div class="signin-image">
                    <figure><img src="/../../assets/images/login.jpg" alt="login image"></figure>
                    <a routerLink="/signup" class="signup-image-link">Créer un compte</a>
                  </div>
                    <div class="signin-form">
                        <h2 class="form-title">Réinitialiser le mot de passe</h2>
                        <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()" class="register-form" id="reset-password-form">
                            <div class="form-group">
                                <label for="email" class="bi bi-person-fill"></label>
                                <input type="email" name="email" id="email" placeholder="Votre email" [(ngModel)]="userResetPassword.email" #email="ngModel" email="true" required/>
                            </div>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                <small *ngIf="email.errors?.['required']">
                                    * Email est nécessaire
                                </small>
                                <small *ngIf="email.errors?.['email']">
                                    * Email invalide
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="newPassword" class="bi bi-lock-fill"></label>
                                <input [type]="typePass" name="newPassword" id="newPassword" placeholder="Nouveau mot de passe" [(ngModel)]="userResetPassword.newPassword" #newPassword="ngModel" required minlength="10"/>
                                <i (click)="hideShowPass()" class="bi {{eyeIconPass}}"></i>
                            </div>
                            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-danger">
                                <small *ngIf="(newPassword.errors?.['required'])">
                                    * Mot de passe est nécessaire
                                </small>
                                <small *ngIf="newPassword.errors?.['minlength']">
                                  * Le mot de passe doit contenir au moins 10 caractères
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="confirmNewPassword" class="bi bi-lock-fill"></label>
                                <input [type]="typeConfirmPass" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirmer le nouveau mot de passe" [(ngModel)]="userResetPassword.confirmNewPassword" #confirmNewPassword="ngModel" required/>
                                <i (click)="hideShowConfirmPass()" class="bi {{eyeIconConfirmPass}}"></i>
                            </div>
                            <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="text-danger">
                                <small *ngIf="(confirmNewPassword.errors?.['required'])">
                                  * Veuillez confirmer le mot de passe
                                </small>
                            </div>
                            <div *ngIf=" confirmNewPassword.value != newPassword.value" class="text-danger">
                              <small *ngIf=" (confirmNewPassword.value != newPassword.value)">
                                  * Les mots de passe ne correspondent pas!!!
                              </small>
                          </div>
                            <div class="form-group form-button">
                                <button type="submit" id="reset-password" class="form-submit">Réinitialiser</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
